{% extends "crime/base.html" %}
{% block title %} Investigating Officers{% endblock %}

{% block content %}
<center><h1>List of Investigating Officers</h1></center>
{% if message %}
 <b> {{ message }} </b>
 <p>
{% endif %}
<head>
<style>
table,th,td
{
border:1px solid black;
border-collapse:collapse;
}
th,td
{
padding:5px;
}
</style>
</head>
<body><center>
<table style="width:600px">
<tr>
  <th>CrimeID</th>
  <th>Investigating Officers</th>	
 
</tr>
	
		{% for crime in crimes %}
			<tr bgcolor='{% cycle FFFFFF,EEEEEE as rowcolor %}'>
				<td>{{crime.id}}</td>
				<td>{% for s in crime.agent.all %}
        				<li>{{s}}</li>
        			    {% endfor %}<br><br>
				</td>
 	                </tr>
  		{% endfor %}
         </table></center>
	</body>
<div class = "pagination">
    <span class = "step-links">		
        {% if crimes.has_previous %}
		<a href="?page={{ crimes.previous_page_number }}">previous</a>
	{% endif %} 
    <span class= "current">
		 Page {{ crimes.number }} of {{ crimes.paginator.num_pages }}.
        </span>
        {% if crimes.has_next %}
		<a href="?page={{ crimes.next_page_number }}">next</a>
	{% endif %} 
    </span>
</div>
        

<a href='/crime/agentlist'>Back</a>
{% endblock %}
